<h4 class="text-center">Your drinking history</h4>
<div class="list-group" *ngIf="days">
  <div *ngFor="let item of days" class="list-group-item " (click)="goToDay(item);">
    <h5>Date: &nbsp; {{item.date}}</h5>
    <table border="0" style="width: 100%">
      <tbody>
        <tr>
          <td style="width: 40%">
            drinks: &nbsp; {{item.count}}
          </td>
          <td>
            amount: &nbsp; {{item.amount || 0}} ml
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="alert alert-info text-center" *ngIf="!days || days.length==0">
  No records found.
</div>