<h4 class="text-center">Profile</h4>
<div *ngIf="user">
  
  <form (ngSubmit)="update()" #userEditForm="ngForm" id="userForm" name="userForm" style="padding-bottom: 10px" >
  <div class="form-group">
    <label for="firstNameInput">First Name</label>
    <input type="text" id="firstNameInput" name="firstNameInput" placeholder="First Name" class="form-control"
           [ngClass]="{'is-invalid': firstNameInput.invalid && firstNameInput.dirty}"
           [(ngModel)]="user.FirstName" #firstNameInput="ngModel" required>
    <small class="validation-message text-danger">
      {{firstNameInput | getError:'First Name'}}
    </small>
  </div>
  
  <div class="form-group">
    <label for="lastNameInput">Last Name</label>
    <input type="text" id="lastNameInput" name="lastNameInput" placeholder="Last Name" class="form-control"
           [ngClass]="{'is-invalid': lastNameInput.invalid && lastNameInput.dirty}"
           [(ngModel)]="user.LastName" #lastNameInput="ngModel" required>
    <small class="validation-message text-danger">
      {{lastNameInput | getError:'Last Name'}}
    </small>
  </div>

  <div class="form-group">
    <label for="birthYear">Birth Date</label>
    <div class="input-group">
        <input type="text" id="birthYearInput" name="birthYearInput" placeholder="Year" class="form-control"
        [ngClass]="{'is-invalid': birthYearInput.invalid && birthYearInput.dirty}"
        [(ngModel)]="birthYear" #birthYearInput="ngModel" required minlength="4" maxlength="4">

        <select id="birthMonthInput" name="birthMonthInput" placeholder="Day" class="form-control"
        [ngClass]="{'is-invalid': birthMonthInput.invalid && birthMonthInput.dirty}"
        [(ngModel)]="birthMonth" #birthMonthInput="ngModel" required>
          <option ></option>
          <option value="01">January</option>
          <option value="02">February</option>
          <option value="03">March</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>

        <input type="text" id="birthDayInput" name="birthDayInput" placeholder="Day" class="form-control"
        [ngClass]="{'is-invalid': birthDayInput.invalid && birthDayInput.dirty}"
        [(ngModel)]="birthDay" #birthDayInput="ngModel" required minlength="2" maxlength="2">
    </div>
    
    <small class="validation-message text-danger">
      <span>{{birthYearInput | getError:'Year'}}</span>
      <span>{{birthMonthInput | getError:'Month'}}</span>
      <span>{{birthDayInput | getError:'Day'}}</span>
    </small>
  </div>

  <div class="form-group">
    <label for="genderInput">Gender</label>
    <select id="genderInput" name="genderInput" placeholder="Gender" class="form-control"
           [ngClass]="{'is-invalid': genderInput.invalid && genderInput.dirty}"
           [(ngModel)]="user.gender" #genderInput="ngModel" required 
           (ngModelChange)="howMuchToDrink()" (click)="calculateDrinkAmount=true" >
        <option ></option>
        <option [ngValue]="1">Male</option>
        <option [ngValue]="2">Female</option>
    </select>
    <small class="validation-message text-danger">
      {{genderInput | getError:'Gender'}}
    </small>
  </div>
  <div class="form-group">
      <label for="weightInput">Weight</label>
      <input type="number" id="weightInput" name="weightInput" placeholder="Weight" class="form-control"
             [ngClass]="{'is-invalid': weightInput.invalid && weightInput.dirty}"
             [(ngModel)]="user.weight" #weightInput="ngModel" required 
             (blur)="howMuchToDrink()" (click)="calculateDrinkAmount=true">
      <small class="validation-message text-danger">
        {{weightInput | getError:'Weight'}}
      </small>
    </div>
  <div class="form-group">
    <label for="dailySportInput">Daily Sport</label>
    <select id="dailySportInput" name="dailySportInput" placeholder="Daily Sport" class="form-control"
           [ngClass]="{'is-invalid': dailySportInput.invalid && dailySportInput.dirty}"
           [(ngModel)]="user.dailySport" #dailySportInput="ngModel" required 
           (ngModelChange)="howMuchToDrink()"  (click)="calculateDrinkAmount=true">
        <option ></option>
        <option [ngValue]="true">Yes</option>
        <option [ngValue]="false">No</option>
    </select>
    <small class="validation-message text-danger">
      {{dailySportInput | getError:'Daily Sport'}}
    </small>
  </div>
  <div class="form-group">
      <label for="drinkRange" class="small">How much do you want to drink per day:</label>
    <div class="slidecontainer" style="padding: 10px 5px">
      <div style="height: 20px;" class="text-center">
          <span style="float: left;">700 ml</span>
          <span >{{user?.drinkAmount}} ml</span>
          <span style="float: right;">5000 ml</span>
      </div>
      <input type="range" #drinkRange="ngModel" min="700" max="5000" [(ngModel)]="user.drinkAmount" 
       id="drinkRange" name="drinkRange" style="width: 100%">
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-success" [disabled]="userEditForm.invalid" style="width:150px">Start</button>
  </div>
</form>

<div class="text-center">
  <button class="button" class="btn btn-danger" (click)="logout()" *ngIf="isRegistered" >Logout</button>
</div>
  
</div>