<h5 class="text-center">Drink Up</h5>
<br>
<div class="list-group row">
    <a [routerLink]=" ['/profile']" class="list-group-item" >
      <span class="icon ion-person"></span>
      <span>Profile</span>
    </a>

    <a [routerLink]=" ['/drinkstatus']" class="list-group-item"  >
      <span class="icon ion-ios-location-outline"></span>
      <span>Today status</span> 
    </a>

    <a [routerLink]=" ['/drinkhistory']" class="list-group-item" >
      <span class="icon ion-tshirt-outline"></span>
      <span>Drinking history</span>
    </a>

    <a [routerLink]=" ['/notification']" class="list-group-item"  >
      <span class="icon ion-ios-list-outline"></span>
      <span>Notification Settings</span>
    </a>

    <a [routerLink]=" ['/contactus']" class="list-group-item" >
      <span class="icon ion-ios-telephone-outline"></span>
      <span>Contact Us</span>
    </a>

    <a [routerLink]=" ['/profile']" class="list-group-item" (click)="logout()" >
      <span class="icon ion-ios-telephone-outline"></span>
      <span class="text-danger">Log Out</span>
    </a>
</div>
