<div class="text-center">
  <h2>Your drinking status</h2>
  <hr>
 <div class="glass-wrapper" >
    <div class="glass-max">{{user?.drinkAmount}} ml</div>
    <img src="assets/images/glass-empty.png" class="glass" (click)="drinksOfToday()" >
    <div class="glass-fill" #glassFill (click)="drinksOfToday()">
      <span *ngIf="currentDrinkAmount>0" style="padding-top: 5px;">
          {{currentDrinkAmount}} ml
      </span>
      
    </div>
 </div>
 <hr>
 <div class="col-sm-12 text-center" style="padding-bottom: 10px">
    <a [routerLink]="['/adddrink']" class="btn btn-success" style="width:150px">Add a drink</a>
 </div>
 <div class="col-sm-12 text-center" style="padding-bottom: 10px">
    <a routerLink="/profile" class="btn btn-info" style="width:150px">Profile</a>
 </div>
 <div class="col-sm-12 text-center" style="padding-bottom: 10px">
    <a routerLink="/drinkhistory" class="btn btn-outline-warning" style="width:150px">Activity log</a>
 </div>
</div>